NOTIFICATION_APP_NAME=Notification Service
NOTIFICATION_ENVIRONMENT=local
NOTIFICATION_DEBUG=true
NOTIFICATION_LOG_LEVEL=INFO

POSTGRES_DB_NAME=notification_db
POSTGRES_USER=notification
POSTGRES_PASSWORD=notification

RABBITMQ_USER=notification
RABBITMQ_PASSWORD=notification
